.login{
    height: 800px;
    padding: 100px;
    text-align: center;
    background-image: url(https://watermark.lovepik.com/photo/20211209/large/lovepik-vegetable-food-background-material-picture_501697070.jpg);
}
